@import url(//fonts.googleapis.com/css?family=Lato:300:400);

*{
  font-family: 'Lato', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background: linear-gradient(60deg,rgb(203, 218, 219) 4%, rgb(98, 228, 196)  40%, #0D4671 95%);
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: green;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: pink;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: #4b8dc0;;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #2d6087;;
  flex-grow: 1;
  box-shadow: 0 0.125rem 0.75rem 0 gray;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #2d6087;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  box-shadow: 0 0.125rem 0.75rem 0 gray;
  text-transform: uppercase;
  &:hover {
    background-color: #073659;
    color:rgb(37, 219, 189);
   }
}